body {
	padding-top: 50px;
}

.content {
	padding-bottom: 40px;
}

/* User column style. */
.column {
	padding: 10px;
}

.conversation {
	height: 300px;
	overflow-y: scroll;
	border-left: 5px solid #C0C0C0;
}

/* Message style. */
.conversation .row {
	margin: 0;
	background-color: #F4F4F4;
}

.conversation .sender {
	padding: 0;
	color: #E79821;
	text-align: right;
	font-weight: bold;
}

.conversation .sender div {
	padding: 5px 10px;
}

.conversation .message {
	padding: 0;
	background-color: white;
	word-wrap: break-word;
}

.conversation .message div {
	padding: 5px 10px;
}

/* Differentiated style for our user's messages. */
.conversation .from-me .sender {
	color: #494949;
}

.conversation .from-me .message {
	background-color: #E4F2FB;
}